<div class="bg">
	<br/>
	<center>
<div class="activity1">
<p>Your result is 
	<%= @quiz.result %>
</p>

<p> 
<%= link_to 'Sign up', new_user_registration_path %> now and be part of our community. See who share intrest with you, what they are reading and what books might intrest you. 
</p>
</div>
</center>

</div>