<div class="row">

    <%= render 'posts/form' %>
  
 

      <% if @activities.empty? %>

          <%= render('shared/no_resource', resources: 'Activities') %>

      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>

    <%= render 'shared/paginate', resources: @activities %>
  <br/><br/><br/>
  

  

</div>