<div class="bg"> 
	<br/>
	<center>
<h1>Editing Book</h1>

<div class = "activity1"> 

<%= render 'form', book: @book %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>

</div>
</center>
<br>
</div>