<div class="bg"> 
	<br/>
	<center>
<h1>Editing Bookstore</h1>

<div class="activity1">
<%= render 'form', bookstore: @bookstore %>

<%= link_to 'Show', @bookstore %> |
<%= link_to 'Back', bookstores_path %>

</div>
</center>
</div>
