
<div class="bg">
	<br/>
	<center>
<div class="activity1">
<p>
  <strong>Name:</strong>
  <%= @bookstore.name %>
</p>

<%= link_to 'Edit', edit_bookstore_path(@bookstore) %> |
<%= link_to 'Back', bookstores_path %>

</div>
</center>
</div>