
<div class="bg">
	<br/>
	<center>
<div class="activity1">
<p>
  <strong>Name:</strong>
  <%= @bookstore.name %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>

</div>
</center>
</div>