<div class="bg"> 
	<br/>
	<center>
<h1>Editing Preferance</h1>
<div class="activity1">

<%= render 'form', prefer: @prefer %>

<%= link_to 'Show', @prefer %> |
			<%= link_to 'Back', edit_user_path(current_user) %>

</div>
</center>
</div>
